%h1 Paragraf
.container
  %p
    A Paragraf is a element in HTML that gives sematic meaning to a ths xmsrkup of a HTML page.
    The paragraf can also be use to give serten properties to a paragraf. Like giving it a seartan style.
