.card.sticky-action.fix
  .card-image.waves-effect.waves-block.waves-light
    %img.activator{:src => "images/fb.png"}/
  .card-content
    %span.card-title.activator.grey-text.text-darken-4
      FizzBuzz
      %i.material-icons.right more_vert
    %p Project to create a JavaScript based website for the game FizzBuzz.
    .row
      .col.s3.devicon-box
        %i.devicon-html5-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-css3-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-javascript-plain.devicon
      .col.s3.devicon-box
        %i.devicon-jquery-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-github-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-atom-original.devicon
  .card-action
    %a{:href => "#!"} Read more
    %a{:href => "#"} Github link
  .card-reveal
    %span.card-title.grey-text.text-darken-4
      FizzBuzz
      %i.material-icons.right close
    %p Project to create a JavaScript based website for the game FizzBuzz. Site is based on HTML5, CSS and JavaScript.
    %p
      %i.devicon-css3-plain-wordmark.devicon
      Styling of page made with CSS
    %p
      %i.devicon-html5-plain-wordmark.devicon
      Mark up written in HTML5
    %p
      %i.devicon-javascript-plain.devicon
      Logic written in JavaScript
    %p
      %i.devicon-jquery-plain-wordmark.devicon
      Accesss to DOM using jQuery
    %p
      %i.devicon-github-plain-wordmark.devicon
      Code management and page publication.


.card.sticky-action.fix
  .card-image.waves-effect.waves-block.waves-light
    %img.activator{:src => "images/bmi.jpg"}/
  .card-content
    %span.card-title.activator.grey-text.text-darken-4
      BMI calculator
      %i.material-icons.right more_vert
    %p Project to create a JavaScript based website for the game FizzBuzz.
    .row
      .col.s3.devicon-box
        %i.devicon-html5-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-css3-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-javascript-plain.devicon
      .col.s3.devicon-box
        %i.devicon-jquery-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-github-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-atom-original.devicon
  .card-action
    %a{:href => "#!"} Read more
    %a{:href => "#"} Github link
  .card-reveal
    %span.card-title.grey-text.text-darken-4
      BMI calculator
      %i.material-icons.right close
    %p Project to create a JavaScript based website for the game FizzBuzz. Site is based on HTML5, CSS and JavaScript.
    %p
      %i.devicon-css3-plain-wordmark.devicon
      Styling of page made with CSS
    %p
      %i.devicon-html5-plain-wordmark.devicon
      Mark up written in HTML5
    %p
      %i.devicon-javascript-plain.devicon
      Logic written in JavaScript
    %p
      %i.devicon-jquery-plain-wordmark.devicon
      Accesss to DOM using jQuery
    %p
      %i.devicon-github-plain-wordmark.devicon
      Code management and page publication.
.card.sticky-action.fix
  .card-image.waves-effect.waves-block.waves-light
    %img.activator{:src => "images/slow_food.png"}/
  .card-content
    %span.card-title.activator.grey-text.text-darken-4
      Slow Food
      %i.material-icons.right more_vert
    %p Project to create a JavaScript based website for the game FizzBuzz.
    .row
      .col.s3.devicon-box
        %i.devicon-html5-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-css3-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-javascript-plain.devicon
      .col.s3.devicon-box
        %i.devicon-jquery-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-github-plain-wordmark.devicon
      .col.s3.devicon-box
        %i.devicon-atom-original.devicon
  .card-action
    %a{:href => "#!"} Read more
    %a{:href => "#"} Github link
  .card-reveal
    %span.card-title.grey-text.text-darken-4
      Slow Food
      %i.material-icons.right close
    %p Project to create a JavaScript based website for the game FizzBuzz. Site is based on HTML5, CSS and JavaScript.
    %p
      %i.devicon-css3-plain-wordmark.devicon
      Styling of page made with CSS
    %p
      %i.devicon-html5-plain-wordmark.devicon
      Mark up written in HTML5
    %p
      %i.devicon-javascript-plain.devicon
      Logic written in JavaScript
    %p
      %i.devicon-jquery-plain-wordmark.devicon
      Accesss to DOM using jQuery
    %p
      %i.devicon-github-plain-wordmark.devicon
      Code management and page publication.
